<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
        Restablecer contrasena
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
         <ion-icon color="dark" slot="icon-only"  name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="cuerpoContent normal">
      <h3 class="subtitulo text-center">Ingresa tu correo</h3>
      <label class="normal">Te enviaremos las instrucciones a tu correo para que puedas restablecer.</label>

      <ion-item class="form-group correoInput">
        <ion-input name="email"  [(ngModel)]="cliente.correo" clearInput class="normal"  type="text" inputmode="text"></ion-input>
      </ion-item>

      <div class="btnRestablecer">
        <ion-button (click)="onReset()" class="normal" color="dark">RESTABLECER</ion-button>
      </div>

  </div>

</ion-content>
