.cuerpoContent{
    padding: 18px;
}

.correoInput{
    padding: 10px;
}

.correoInputTexto{
    margin-top: 12px;
    padding: 4px;
    width: -webkit-fill-available;
    margin-left: -4px;
}

.btnRestablecer{
    padding-top: 60px;
    text-align-last: center;
}