.encabezado{
    text-align: center;
    padding: 10px;
}

.mensajeSuccess{
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.image{
    padding: 10px;
    border: 1px solid #e9ecef;
    width: 100%;
    border-radius: 15px;
    margin: auto;
}